#! /bin/bash

# Replace "your-deploy-key-here" on LINE 19 with your deploy key
# 
# For use, this script should be sourced into your current shell instance with `source deploy/environment.sh`
# or `./deploy/environment.sh` - the environment variable will be dropped after the shell session terminates.


# Docker Hub deploy key
if [ -n "$DOCKER_HUB_DEPLOY_KEY" ]
then 
  echo "DOCKER_HUB_DEPLOY_KEY already set 🔑"
else
  echo "Setting DOCKER_HUB_DEPLOY_KEY environment variable 🔧"
  # Replace with your entity name
  export DOCKER_HUB_DEPLOY_KEY="your-deploy-key-here"
fi
